<div id="<%= dom_id pitcher_pitch_stat %>">
  <p>
    <strong>Pitcher name:</strong>
    <%= pitcher_pitch_stat.pitcher_name %>
  </p>

  <p>
    <strong>Pitcher team:</strong>
    <%= pitcher_pitch_stat.pitcher_team %>
  </p>

  <p>
    <strong>Pitch type:</strong>
    <%= pitcher_pitch_stat.pitch_type %>
  </p>

  <p>
    <strong>Times thrown:</strong>
    <%= pitcher_pitch_stat.times_thrown %>
  </p>

  <p>
    <strong>Strikes:</strong>
    <%= pitcher_pitch_stat.strikes %>
  </p>

  <p>
    <strong>Balls:</strong>
    <%= pitcher_pitch_stat.balls %>
  </p>

  <p>
    <strong>Put in play:</strong>
    <%= pitcher_pitch_stat.put_in_play %>
  </p>

  <p>
    <strong>To righty:</strong>
    <%= pitcher_pitch_stat.to_righty %>
  </p>

  <p>
    <strong>To lefty:</strong>
    <%= pitcher_pitch_stat.to_lefty %>
  </p>

  <p>
    <strong>Called strikes:</strong>
    <%= pitcher_pitch_stat.called_strikes %>
  </p>

  <p>
    <strong>Swinging strikes:</strong>
    <%= pitcher_pitch_stat.swinging_strikes %>
  </p>

  <p>
    <strong>Fouls:</strong>
    <%= pitcher_pitch_stat.fouls %>
  </p>

  <p>
    <strong>Balls in dirt:</strong>
    <%= pitcher_pitch_stat.balls_in_dirt %>
  </p>

  <p>
    <strong>In play out:</strong>
    <%= pitcher_pitch_stat.in_play_out %>
  </p>

  <p>
    <strong>In play safe:</strong>
    <%= pitcher_pitch_stat.in_play_safe %>
  </p>

  <p>
    <strong>In play runs:</strong>
    <%= pitcher_pitch_stat.in_play_runs %>
  </p>

  <p>
    <strong>Hit by pitches:</strong>
    <%= pitcher_pitch_stat.hit_by_pitches %>
  </p>

  <p>
    <strong>Avg speed:</strong>
    <%= pitcher_pitch_stat.avg_speed %>
  </p>

  <p>
    <strong>Avg spin rate:</strong>
    <%= pitcher_pitch_stat.avg_spin_rate %>
  </p>

  <p>
    <strong>Avg hit launch speed:</strong>
    <%= pitcher_pitch_stat.avg_hit_launch_speed %>
  </p>

  <p>
    <strong>Avg hit launch angle:</strong>
    <%= pitcher_pitch_stat.avg_hit_launch_angle %>
  </p>

</div>
