<div id="<%= dom_id pitcher_box_score %>">
  <p>
    <strong>Official game date:</strong>
    <%= pitcher_box_score.official_game_date %>
  </p>

  <p>
    <strong>Pitcher name:</strong>
    <%= pitcher_box_score.pitcher_name %>
  </p>

  <p>
    <strong>Pitcher team:</strong>
    <%= pitcher_box_score.pitcher_team %>
  </p>

  <p>
    <strong>Opposing team:</strong>
    <%= pitcher_box_score.opposing_team %>
  </p>

  <p>
    <strong>Venue:</strong>
    <%= pitcher_box_score.venue %>
  </p>

  <p>
    <strong>At:</strong>
    <%= pitcher_box_score.at %>
  </p>

  <p>
    <strong>Innings pitched:</strong>
    <%= pitcher_box_score.innings_pitched %>
  </p>

  <p>
    <strong>Batters faced:</strong>
    <%= pitcher_box_score.batters_faced %>
  </p>

  <p>
    <strong>Num hits:</strong>
    <%= pitcher_box_score.num_hits %>
  </p>

  <p>
    <strong>Singles:</strong>
    <%= pitcher_box_score.singles %>
  </p>

  <p>
    <strong>Doubles:</strong>
    <%= pitcher_box_score.doubles %>
  </p>

  <p>
    <strong>Triples:</strong>
    <%= pitcher_box_score.triples %>
  </p>

  <p>
    <strong>Home runs:</strong>
    <%= pitcher_box_score.home_runs %>
  </p>

  <p>
    <strong>Strikeouts:</strong>
    <%= pitcher_box_score.strikeouts %>
  </p>

  <p>
    <strong>Walks:</strong>
    <%= pitcher_box_score.walks %>
  </p>

  <p>
    <strong>Intent walks:</strong>
    <%= pitcher_box_score.intent_walks %>
  </p>

  <p>
    <strong>Hit by pitches:</strong>
    <%= pitcher_box_score.hit_by_pitches %>
  </p>

  <p>
    <strong>Wild pitches:</strong>
    <%= pitcher_box_score.wild_pitches %>
  </p>

</div>
