<div id="<%= dom_id team_pitcher_stat %>">
  <p>
    <strong>Pitcher team:</strong>
    <%= team_pitcher_stat.pitcher_team %>
  </p>

  <p>
    <strong>Num pitchers:</strong>
    <%= team_pitcher_stat.num_pitchers %>
  </p>

  <p>
    <strong>Batters faced:</strong>
    <%= team_pitcher_stat.batters_faced %>
  </p>

  <p>
    <strong>Num hits:</strong>
    <%= team_pitcher_stat.num_hits %>
  </p>

  <p>
    <strong>Singles:</strong>
    <%= team_pitcher_stat.singles %>
  </p>

  <p>
    <strong>Doubles:</strong>
    <%= team_pitcher_stat.doubles %>
  </p>

  <p>
    <strong>Triples:</strong>
    <%= team_pitcher_stat.triples %>
  </p>

  <p>
    <strong>Home runs:</strong>
    <%= team_pitcher_stat.home_runs %>
  </p>

  <p>
    <strong>Strikeouts:</strong>
    <%= team_pitcher_stat.strikeouts %>
  </p>

  <p>
    <strong>Walks:</strong>
    <%= team_pitcher_stat.walks %>
  </p>

  <p>
    <strong>Intent walks:</strong>
    <%= team_pitcher_stat.intent_walks %>
  </p>

  <p>
    <strong>Hit by pitches:</strong>
    <%= team_pitcher_stat.hit_by_pitches %>
  </p>

  <p>
    <strong>Wild pitches:</strong>
    <%= team_pitcher_stat.wild_pitches %>
  </p>

</div>
